<!DOCTYPE html>
<html>
<head>
    <title>Zardans | Home</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-image: url("images/Morten-Alene.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

    </style>
</head>
<body>

<div class="bg-img">
    <div class="container">
        <div class="topnav">
            <a style="color:saddlebrown"  title="Home"  href="/">Home</a>
            <a title="Music" href="music">Music</a>
            <a title="Video" href="video">Video</a>
            <a title="About" href="about">About</a>
        </div>
    </div>
</div>


<div class="right">
<h1>Zardans</h1>
    <h6>From the mountains of Balkan,<br/> to the dancefloor of your party</h6>
</div>

<div class="socialicon">
<a href="https://www.facebook.com/Zardansmusic" class="fa fa-facebook"></a>
    <a href="https://www.youtube.com/results?search_query=zardans" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-soundcloud"></a>

</div>

</body>
</html>