<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zardans | Video</title>

    <link rel="stylesheet" type="text/css" href="mystyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>

        body {
            background-image: url("images/Band-Bagfra.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="bg-img">
    <div class="container">
        <div class="topnav">
            <a title="Home" href="/">Home</a>
            <a title="Music" href="music">Music</a>
            <a style="color:saddlebrown" title="Video" href="video">Video</a>
            <a title="About" href="about">About</a>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

    <div style="float:left;width:auto;margin-right:14px;">
        <iframe width="405" height="225" src="https://www.youtube.com/embed/nCaPBKx8NZU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <div style="float:left;width:auto;margin-right:14px;">
        <iframe width="405" height="225" src="https://www.youtube.com/embed/hSWnisVW7ls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div style="float:left;width:auto;margin-right:14px;">
    <iframe width="405" height="225" src="https://www.youtube.com/embed/z1yJl1Iqx2A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div style=”clear:both;height:1em;”></div>


<div class="socialicon">
    <a href="https://www.facebook.com/Zardansmusic" class="fa fa-facebook"></a>
    <a href="https://www.youtube.com/results?search_query=zardans" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-soundcloud"></a>

</div>



</body>
</html>